/*  your css code here. If applicable */
.search{
	display:flex;
	align-items:center;
	background-color:lightblue;
	height:30%;
	width:30%;
	
}
.search:active{
	background-color:lightblue;
	height:10%;
	width:10%;
}